[Desktop Entry]
Name=Vw
GenericName=Image viewer
Comment=Image viewer
Exec=vw
Type=Application
StartupNotify=false
NoDisplay=true
Hidden=false
Terminal=false
Categories=Graphics;Viewer;
MimeType=image/jpeg;image/png;image/gif;image/tiff;image/bmp;image/x-icon;image/x-xpixmap;image/x-xbitmap;
